.post-container {
  margin-left: 20px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 618px;
  padding-left: 20px;
  border: 1px solid darkgrey;

}

.img-thumb {
  border-radius: 75px;
  width: 30px;
}

.comment-container {
  border: 1px solid darkgrey;
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.comment-user {
  font-weight: bold;
}
