.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;    
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 2px solid lightgrey;
    margin-bottom: 15px;
}

.post-header {
    display: flex;
    flex-direction: column;
}

.post-user {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;

}

.post-user h4 {
    margin: 20px 0;
}

.img-thumb {
  border-radius: 75px;
  width: 30px;
  margin-right: 10px;
}

.post-image {
  width: 100%;
}

.like-container {
    padding: 10px 20px;
}

.comment-icon {
    padding-right: 10px;
}

