.comment-icon {
    margin: 10px 15px 0 0;
}

.post-container {
    margin: 20px 0px 20px 20px;
    width: 610px;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
  }

 .comment-rows {
     border-bottom: 1px solid lightgrey;
     margin-right: 
 }

 .add-comment input {
     border: none;    
    padding: 15px 0;
    font-size: 1rem;
 }